.App{

  /* background: linear-gradient(109.6deg, rgb(0, 37, 84) 11.2%, rgba(0, 37, 84, 0.32) 100.2%); */
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navBar {
  display: flex;
  justify-content: flex-end;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  height: 7em;
}

.nav-link-list {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 30px;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
  list-style: none;
}

.nav-link-list:active {
  color: #fff;
}

.nav-link {
  text-decoration: none;
  margin: 15px;
  padding: 10px;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}

#nameText {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: 'EB Garamond', serif;
  color: #4c73a5;
  font-style: italic;
  position: absolute;
  left: 0;
  padding: 15px;
  margin: 15px;
  font-size: 60px;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 1px 0 #4c73a5;
   
}

.footer {
  margin-top: auto;
  background-color: rgb(104, 131, 155);
  height: 5.5rem;
}

.footer-ctn {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 16px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color: #fff;
}

.copyright {
  font-size: 13px;
  text-align: center;
}

.about-h2 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  color: #4c73a5;
  font-size: 40px;
  text-align: center;
}

.about-ctn {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin: 30px;
}

.about-p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  width: 40rem;

}

.profile-pic {
  width: 600px;
  height: 650px;
  border: 2px solid #555;
  border-radius: 25%;
}

.resume-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 60px; */
}

.resume-p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 40px;
  font-weight: bold;
  color: #4c73a5;
}

.resume-image {
  height: 40rem;
  width: 40rem;
}

.resume-image:hover{
  height: 41rem;
  width: 41rem;
}

.expertise-title {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 40px;
  color: #fff;
}

.expertise-list {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  list-style: none;
  font-size: 30px;
  word-spacing: 10px;
  color: #fff;
}

.contact-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.contact-h1 {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  text-align: center;
  font-size: 40px;
  color: #4c73a5;
}

.form-p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 28px;
  color: #fff;
  text-decoration: underline;
}
.form-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  border: 3px solid rgb(17, 25, 63);
  width: 520px;
  height: 500px;
  border-radius: 20px;
  background-color: #cfcdcd;

}

#fname {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 25px;
  margin: 30px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
}

#lname {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 25px;
  margin: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#email {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 25px;
  margin: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

#message {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  text-align: center;
  font-size: 25px;
  margin: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  resize: none;
}

.form-btn {
  align-self: center;
  font-size: 23px;
  border-radius: 10px;
  background-color: #4c73a5;
  cursor: pointer;
}

.project-ctn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-h1 {
  font-size: 35px;
  color: #4c73a5;
  text-align: center;

}

.project-fig {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
}

.project-p {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;

}

.project-img {
  height: 400px;
  width: 500px;
}

.project-link {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype";
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
}